table,
table td,
table th {
  border: 1px solid #ccc;
  border-collapse: collapse;
  // width: 157.7px;
  padding: 7px;
}
.q-field--with-bottom {
  padding-bottom: 0px;
}
.road2{
width:210px;
padding:2.5px;
}
.road{
width: 270px;
padding:2px;
font-size:20px;
}

.roadBtn{
height: 48px;
padding:2px;
width: 96px;
}
